[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
[submodule "box2c"]
	path = box2c
	url = git@github.com:HerrKamrat/box2c.git
